.header {
  height: 54px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: sans-serif;
  width: 100%;
  padding-left: 19%;
}
.headerName {
  font-size: 1.8em;
}
