.container {
  min-height: 100vh;
  /*padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(234, 238, 243, 1);
}

.main {
  /*padding: 5rem 0;*/
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 62%;
  /*justify-content: center;
  align-items: center;*/
}

.newscontainer {
  background-color: white;
  padding: 15px;
}

.yournewscasts {
  color: darkgrey;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  padding-bottom: 5px;
}

.breadcrumb {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
